{% extends "layouts.html" %}
{% block content %}
<!--
    {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>By {{ post.author }} on {{ post.date_created }}</p>
        <p>{{ post.content }}</p>
    {% endfor %}
-->
    <!-- <div class="toggle"></div> Make Switch later -->
    <h1 class="header-font">Welcome</h1>
    <div id="layout-icon">
        <ul>
            {% if current_user.is_authenticated %}
            <li><a href=" {{url_for('logout') }}" class="login-colour-bg"><i class="fas fa-sign-out-alt fa-flip-horizontal"></i></a></li>
            {% else %}
            <li><a href=" {{url_for('login') }}" class="login-colour-bg"><i class="fas fa-sign-in-alt"></i></a></li>
            {% endif %}
            <li><a href=" {{url_for('account_home') }}" class="account-colour-bg"><i class="fas fa-user-circle"></i></a></li>
            <li><a href="#" class="nutrition-colour-bg"><i class="fas fa-utensils"></i></a></li>
            <li><a href="#" class="workout-colour-bg"><i class="fas fa-dumbbell"></i></a></li>
            <li><a href="#" class="budget-colour-bg"><i class="fas fa-dollar-sign"></i></a></li>
        </ul>
        <button onclick="switchLayout()" class="btn-switch">Need An Introduction?</button>
    </div>
    <div id="layout-paragraph"> 
        <h2 class="content-font">
        {% if current_user.is_authenticated %}
        You are signed in, <a href=" {{url_for('logout') }}" class="keyword login-colour">Sign Out</a> here.<br>
        {% else %}
        To start,<a href=" {{url_for('register') }}" class="keyword login-colour">Create An Account</a> and <a href=" {{url_for('login') }}" class="keyword login-colour">Sign In</a> here.<br>
        {% endif %}
        Feel free to manage your <a href=" {{url_for('account_home') }}" class="keyword account-colour">account</a> to change the look and feel of this program.<br>
        Your <a href="#" class="keyword nutrition-colour">nutrition</a> will be tracked.<br>
        We can also record your <a href="#" class="keyword workout-colour">workout</a> information.<br>
        Lastly, you can <a href="#" class="keyword budget-colour">budget</a> your diet with us.<br>
        </h2>
        <button onclick="switchLayout()" class="btn-switch">Cool, Sounds Good!</button>
    </div>


{% endblock content %}
